In [1]:
# !pip install rake-nltk

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from rake_nltk import Rake
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
df = pd.read_csv('https://query.data.world/s/zhtjac2t6fqwfqv4zwhqas6irigywt?dws=00000')

In [4]:
df

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Lost Weekend,1945,NOT RATED,01 Jan 1946,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson (from the novel by), Charle...","Ray Milland, Jane Wyman, Phillip Terry, Howard...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/lost_weekend/,06 Feb 2001,NaN,Paramount Pictures,NaN,True
246,247,Short Term 12,2013,R,23 Aug 2013,96 min,Drama,Destin Daniel Cretton,Destin Daniel Cretton,"Brie Larson, John Gallagher Jr., Stephanie Bea...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/short_term_12_...,14 Jan 2014,NaN,Cinedigm,http://shortterm12.com,True
247,248,His Girl Friday,1940,APPROVED,18 Jan 1940,92 min,"Comedy, Drama, Romance",Howard Hawks,"Charles Lederer (screen play), Ben Hecht (from...","Cary Grant, Rosalind Russell, Ralph Bellamy, G...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/his_girl_friday/,28 Dec 2004,NaN,Columbia Pictures,NaN,True
248,249,The Straight Story,1999,G,03 Nov 1999,112 min,"Biography, Drama",David Lynch,"John Roach, Mary Sweeney","Sissy Spacek, Jane Galloway Heitz, Joseph A. C...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/straight_story/,07 Nov 2000,NaN,Buena Vista Pictures,http://disney.go.com/DisneyPictures/straightst...,True
249,250,Slumdog Millionaire,2008,R,25 Dec 2008,120 min,Drama,"Danny Boyle, Loveleen Tandan","Simon Beaufoy (screenplay), Vikas Swarup (novel)","Dev Patel, Saurabh Shukla, Anil Kapoor, Raj Zu...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/slumdog_millio...,31 Mar 2009,"$141,243,551",Fox Searchlight Pictures,http://www.foxsearchlight.com/slumdogmillionaire/,True

In [5]:
df.shape[0]

250

In [6]:
df.shape[1]

38

In [7]:
df.shape

(250, 38)

In [8]:
df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings.Source', 'Ratings.Value', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'tomatoMeter', 'tomatoImage',
       'tomatoRating', 'tomatoReviews', 'tomatoFresh', 'tomatoRotten',
       'tomatoConsensus', 'tomatoUserMeter', 'tomatoUserRating',
       'tomatoUserReviews', 'tomatoURL', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Response'],
      dtype='object')

In [9]:
df.nunique()

Unnamed: 0           250
Title                250
Year                  85
Rated                 10
Released             244
Runtime              103
Genre                110
Director             155
Writer               238
Actors               248
Plot                 250
Language              68
Country               39
Awards               235
Poster               250
Ratings.Source         1
Ratings.Value         13
Metascore             44
imdbRating            13
imdbVotes            250
imdbID               250
Type                   1
tomatoMeter            0
tomatoImage            0
tomatoRating           0
tomatoReviews          0
tomatoFresh            0
tomatoRotten           0
tomatoConsensus        0
tomatoUserMeter        0
tomatoUserRating       0
tomatoUserReviews      0
tomatoURL            250
DVD                  196
BoxOffice             75
Production            89
Website              128
Response               1
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         250 non-null    int64
 1   Title              250 non-null    object
 2   Year               250 non-null    int64
 3   Rated              250 non-null    object
 4   Released           248 non-null    object
 5   Runtime            250 non-null    object
 6   Genre              250 non-null    object
 7   Director           250 non-null    object
 8   Writer             249 non-null    object
 9   Actors             250 non-null    object
 10  Plot               250 non-null    object
 11  Language           250 non-null    object
 12  Country            250 non-null    object
 13  Awards             245 non-null    object
 14  Poster             250 non-null    object
 15  Ratings.Source     250 non-null    object
 16  Ratings.Value      250 non-null    object
 17  Metascore          177 non-null    float64
 18  imdbRating         250 non-null    float64
 19  imdbVotes          250 non-null    object
 20  imdbID             250 non-null    object
 21  Type               250 non-null    object
 22  tomatoMeter        0 non-null      float64
 23  tomatoImage        0 non-null      float64
 24  tomatoRating       0 non-null      float64
 25  tomatoReviews      0 non-null      float64
 26  tomatoFresh        0 non-null      float64
 27  tomatoRotten       0 non-null      float64
 28  tomatoConsensus    0 non-null      float64
 29  tomatoUserMeter    0 non-null      float64
 30  tomatoUserRating   0 non-null      float64
 31  tomatoUserReviews  0 non-null      float64
 32  tomatoURL          250 non-null    object
 33  DVD                247 non-null    object
 34  BoxOffice          75 non-null     object
 35  Production         250 non-null    object
 36  Website            131 non-null    object
 37  Response           250 non-null    bool
dtypes: bool(1), float64(12), int64(2), object(23)
memory usage: 72.6+ KB

In [11]:
df.isnull().sum()

Unnamed: 0             0
Title                  0
Year                   0
Rated                  0
Released               2
Runtime                0
Genre                  0
Director               0
Writer                 1
Actors                 0
Plot                   0
Language               0
Country                0
Awards                 5
Poster                 0
Ratings.Source         0
Ratings.Value          0
Metascore             73
imdbRating             0
imdbVotes              0
imdbID                 0
Type                   0
tomatoMeter          250
tomatoImage          250
tomatoRating         250
tomatoReviews        250
tomatoFresh          250
tomatoRotten         250
tomatoConsensus      250
tomatoUserMeter      250
tomatoUserRating     250
tomatoUserReviews    250
tomatoURL              0
DVD                    3
BoxOffice            175
Production             0
Website              119
Response               0
dtype: int64

In [12]:
df.describe()

,Unnamed: 0,Year,Metascore,imdbRating,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews
count,250.000000,250.000000,177.000000,250.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,125.500000,1982.676000,80.045198,8.244000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,72.312977,24.809212,11.030340,0.245735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,1921.000000,53.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,63.250000,1961.250000,72.000000,8.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,125.500000,1988.000000,81.000000,8.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,187.750000,2003.000000,89.000000,8.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,250.000000,2017.000000,100.000000,9.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df['Plot']

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20-something supervising staff member of a r...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawn-mover ...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

In [14]:
df['Plot'] = df['Plot'].str.replace('[^ws]','', regex = False)

In [15]:
df['Plot']

0      Two imprisoned men bond over a number of years...
1      The aging patriarch of an organized crime dyna...
2      The early life and career of Vito Corleone in ...
3      When the menace known as the Joker emerges fro...
4      A jury holdout attempts to prevent a miscarria...
                             ...
245    The desperate life of a chronic alcoholic is f...
246    A 20-something supervising staff member of a r...
247    A newspaper editor uses every trick in the boo...
248    An old man makes a long journey by lawn-mover ...
249    A Mumbai teen reflects on his upbringing in th...
Name: Plot, Length: 250, dtype: object

In [16]:
# df['Key_words'] = ''

In [17]:
df['Key_words'] = ""
r = Rake()

for index, row in df.iterrows():
    r.extract_keywords_from_text(row['Plot'])
    key_words_dict_scores = r.get_word_degrees()
    df.at[index, 'Key_words'] = list(key_words_dict_scores.keys())

In [18]:
df['Key_words']

0      [two, imprisoned, men, bond, number, years, fi...
1      [aging, patriarch, organized, crime, dynasty, ...
2      [early, life, career, vito, corleone, 1920s, n...
3      [menace, known, joker, emerges, mysterious, pa...
4      [jury, holdout, attempts, prevent, miscarriage...
                             ...
245    [desperate, life, chronic, alcoholic, followed...
246    [20, something, supervising, staff, member, re...
247    [newspaper, editor, uses, every, trick, book, ...
248    [old, man, makes, long, journey, lawn, mover, ...
249    [mumbai, teen, reflects, upbringing, slums, ac...
Name: Key_words, Length: 250, dtype: object

In [19]:
df['Genre'] = df['Genre'].astype(str).map(lambda x: x.split(','))
df['Actors'] = df['Actors'].map(lambda x: x.split(',')[:3])
df['Director'] = df['Director'].map(lambda x: x.split(','))

In [20]:
df['Director']

0                     [Frank Darabont]
1               [Francis Ford Coppola]
2               [Francis Ford Coppola]
3                  [Christopher Nolan]
4                       [Sidney Lumet]
                    ...
245                     [Billy Wilder]
246            [Destin Daniel Cretton]
247                     [Howard Hawks]
248                      [David Lynch]
249    [Danny Boyle,  Loveleen Tandan]
Name: Director, Length: 250, dtype: object

In [21]:
for index, row in df.iterrows():
    df.at[index, 'Genre'] = [x.lower(). replace(' ', '')for x in row['Genre']]
    df.at[index, 'Actors'] = [x.lower(). replace(' ', '')for x in row['Actors']]
    df.at[index, 'Director'] = [x.lower(). replace(' ', '')for x in row['Director']]

In [22]:
df['Actors']

0                 [timrobbins, morganfreeman, bobgunton]
1                    [marlonbrando, alpacino, jamescaan]
2                  [alpacino, robertduvall, dianekeaton]
3             [christianbale, heathledger, aaroneckhart]
4                 [martinbalsam, johnfiedler, leej.cobb]
                             ...
245                [raymilland, janewyman, phillipterry]
246     [brielarson, johngallagherjr., stephaniebeatriz]
247           [carygrant, rosalindrussell, ralphbellamy]
248    [sissyspacek, janegallowayheitz, josepha.carpe...
249                [devpatel, saurabhshukla, anilkapoor]
Name: Actors, Length: 250, dtype: object

In [26]:
df['bag_of_words'] =  ''

columns = ['Genre','Actors','Director','Key_words']

for index, row in df.iterrows():
    words =''
    for col in columns:
        words += ' '.join(row[col]) + ' '
    df.at[index, 'bag_of_words'] = words

df['bag_of_words'] = df['bag_of_words'].str.strip().str.replace('   ', ' ').str.replace('  ', ' ')

In [27]:
df2 = df[['Title', 'bag_of_words']]

In [28]:
df2

,Title,bag_of_words
0,The Shawshank Redemption,crime drama timrobbins morganfreeman bobgunton...
1,The Godfather,crime drama marlonbrando alpacino jamescaan fr...
2,The Godfather: Part II,crime drama alpacino robertduvall dianekeaton ...
3,The Dark Knight,action crime drama christianbale heathledger a...
4,12 Angry Men,crime drama martinbalsam johnfiedler leej.cobb...
...,...,...
245,The Lost Weekend,drama film-noir raymilland janewyman phillipte...
246,Short Term 12,drama brielarson johngallagherjr. stephaniebea...
247,His Girl Friday,comedy drama romance carygrant rosalindrussell...
248,The Straight Story,biography drama sissyspacek janegallowayheitz ...
249,Slumdog Millionaire,drama devpatel saurabhshukla anilkapoor dannyb...

In [37]:
count = CountVectorizer()

count_matrix = count.fit_transform(df2['bag_of_words'])

In [38]:
print(count_matrix)

  (0, 584)	1
  (0, 768)	1
  (0, 2678)	1
  (0, 1810)	1
  (0, 306)	1
  (0, 1011)	1
  (0, 2765)	1
  (0, 1269)	1
  (0, 1733)	1
  (0, 311)	1
  (0, 1899)	1
  (0, 2950)	1
  (0, 969)	1
  (0, 2481)	1
  (0, 888)	1
  (0, 2174)	1
  (0, 59)	1
  (0, 519)	1
  (0, 655)	1
  (1, 584)	2
  (1, 768)	1
  (1, 1671)	1
  (1, 118)	1
  (1, 1355)	1
  (1, 1007)	1
  :	:
  (248, 1368)	1
  (248, 1455)	1
  (248, 396)	1
  (248, 1540)	1
  (248, 1823)	1
  (248, 2721)	1
  (248, 1735)	1
  (248, 1261)	1
  (249, 768)	1
  (249, 2626)	1
  (249, 50)	1
  (249, 621)	1
  (249, 1779)	1
  (249, 1278)	1
  (249, 705)	1
  (249, 2340)	1
  (249, 146)	1
  (249, 1615)	1
  (249, 1828)	1
  (249, 2176)	1
  (249, 2801)	1
  (249, 2472)	1
  (249, 443)	1
  (249, 2825)	1
  (249, 2869)	1

In [39]:
cosine_similarity = cosine_similarity(count_matrix, count_matrix)

In [41]:
cosine_similarity.shape

(250, 250)

In [42]:
indicies = pd.Series(df2['Title'])

In [43]:
indicies

0      The Shawshank Redemption
1                 The Godfather
2        The Godfather: Part II
3               The Dark Knight
4                  12 Angry Men
                 ...
245            The Lost Weekend
246               Short Term 12
247             His Girl Friday
248          The Straight Story
249         Slumdog Millionaire
Name: Title, Length: 250, dtype: object

In [61]:
def recommanded(title, cosine_sim = cosine_similarity):
    recommandation = []
    idx = indicies[indicies ==title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
    print(score_series)
    top_5 = list(score_series[1:6].index)

    for i in top_5:
        recommandation.append(list(df['Title'])[i])
    return recommandation

In [62]:
print(recommanded('On the Waterfront'))

100    1.000000
4      0.228665
1      0.216295
128    0.181444
226    0.181444
         ...
217    0.000000
150    0.000000
219    0.000000
70     0.000000
175    0.000000
Length: 250, dtype: float64
['12 Angry Men', 'The Godfather', 'Fargo', 'Rope', 'The Departed']

In [ ]:
!pip install chatterbot import ChatBot
from chatterbot.trainers import ChatterBotCorpusTrai